<div class="card card-block login-card">
  <h3 class="form-label">Welcome Back</h3>
  <span class="form-label">Diyete başlamak için önce giriş yapınız</span>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon addon-left" id="username">
          <i class="fa fa-user fa-fw"></i>
        </span>
        <input class="form-control with-primary-addon" placeholder="Username" type="text" formControlName="username">
      </div>
      <div class="input-group">
        <span class="input-group-addon addon-left" id="password">
          <i class="fa fa-lock fa-fw"></i>
        </span>
        <input class="form-control with-primary-addon" placeholder="Password" type="password" formControlName="password">
      </div>
      <button class="btn btn-lg btn-primary" type="submit" [disabled]="!myForm.valid">Login</button>
      <!--<a href="" class="btn btn-link">Register Now. →</a>-->
    </div>
  </form>
</div>
