<div class="row">
  <div class="col-md-12">
    <h4>
       <h3> 72 hayvansal besin: Atak evresinden itibaren </h3>

      Yağsız etler: <br>
      dana pirzola - dana eskalop - bonfile - sığır filetosu - dana ciğeri - sığır dili - dana böbreği - rozbif - rumstek - sığır bifteği - kurutulmuş et.
      <br><br>
      Kümes hayvanları: <br>
      bıldırcın - genç horoz eti - hindi - ciğer - hindi ve tavuk jambon - güvercin - beç tavuğu - tavuk - devekuşu bifteği
      <br><br>
      Balıklar: <br>
      levrek - morina balığı - barlam balığı - çipura - turuncu imparator balığı - kılıç balığı - trança balığı ve trança füme - mezgit - kömür balığı - pisi balığı - fener balığı- uskumru - derinsu mezgiti - orfoz balığı - tekir balığı - vatoz - barbun - sardalye - somon ve somon füme - dil balığı - surimi - ton balığı - kalkan balığı
      <br><br>
      Deniz ürünleri: <br>
      deniz salyangozu - kalamar - midye - deniz tarağı - yengeç - karides - gambas karides - ıstakoz - istridye - kerevit - Norveç ıstakozu - midye moule - deniz kestanesi - ahtapot - mürekkep balığı - pavurya
      <br><br>
      Bitkisel proteinler: <br>
      tofu - yulaf kepeği ekmeği
      <br><br>
      Yağsız süt ürünleri: <br>
      doğal ve aromalı yağsız yoğurt - pastörize edilmemiş sütten yapılan az tuzlu peynir - light süzme yoğurt - lor- kaymağı alınmış süt - prebiyotik yoğurt- cancoillette
      <br><br>
      Tavuk yumurtası
      <br><br>
      Sebzeler: <br>
      enginar - kuşkonmaz - patlıcan - pancar - brokoli - havuç - kereviz - mantar - brüksel lahanası - lahana - alabaş - karnabahar - palmiye kalbi - salatalık - kabak - yabani marul - ıspanak - rezene - taze fasulye - marul - semizotu - soğan - pırasa - dolmalık biber - bal kabağı - turp - soya - domates
      <br><br>
      ZEYTİN YAĞI ya da KOLZA YAĞI
      <br><br>
      KONJAC
      <br><br>
      GOJİ BERRY (kurt üzümü)
      <br><br>



    </h4>
  </div>
</div>