<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Dukan Diet</title>
    <link href="/dist/styles.c90d23a89f0fb6342ed7.bundle.css" rel="stylesheet"/>
</head>
<body style="margin: 0;padding: 0;">
<app-root>
    <!--<div class="spinner">-->
        <!--<div class="bounce1"></div>-->
        <!--<div class="bounce2"></div>-->
        <!--<div class="bounce3"></div>-->
    <!--</div>-->
</app-root>
<!--<script src="/js/app/bundle.js"></script>-->
<script type="text/javascript" src="/dist/inline.2ce0c5b1a199ca856601.bundle.js"></script>
<script type="text/javascript" src="/dist/polyfills.00f4c3afc3f3643891f1.bundle.js"></script>
<script type="text/javascript" src="/dist/scripts.bd8a67dca740191456a3.bundle.js"></script>
<script type="text/javascript" src="/dist/vendor.6b3dacf7913fee8c45c2.bundle.js"></script>
<script type="text/javascript" src="/dist/main.25b3ed08e2050adc9b04.bundle.js"></script>
</body>
</html>
