<div class="content-wrap">
  <a routerLink="/pages/home" *ngIf="routeTitle !== 'Dukan'" (click)="returnHome()">Dukan</a>
  <i *ngIf="routeTitle !== 'Dukan'">/</i>
  <span>{{routeTitle}}</span>
</div>
