<div class="row">
  <div class="col-md-12">
    <h4>
      Son dönemlerin Atkins diyetinden sonra en çok tartışmaya neden olan diyetlerinden biri olan Dukan diyeti, Fransız beslenme uzmanı Pierre Dukan tarafından hazırlandı. 30 yıldır uygulanan diyet, ününü 2000'li yıllarda kazandı.
      <br><br>
      Dukan, diyet programı hakkında “Bu diyet sayesinde insanlara yeniden sağlıklı beslenmeyi hatırlatacağız” diyor.
      <br><br>
      Herşey 1975'te genel pratisyen olan Dukan'ın obezite ile ilgilenmesi ile başlar. Dukan, o zamanlar obezitenin üstesinden düşük kalorili diyetler ve küçük öğünler ile gelinebilineceği görüşünün hakim olduğunu söylüyor. Dukan da bunun üzerine hastalarının yeniden kilo alımının önüne geçmek için 4 aşamadan oluşan bir diyet planı tasarlar. Plana diğer diyetlerden farklı olarak güçlendirme ve korumayı ekler.
      <br><br>
      Dukan'ın kaleme aldığı “The Dukan Diet” kitabı Fransa'da uzun süre en çok satanlar listesinin birinci sırasında kaldı ve dünya çapında 10 milyon kopyadan fazla sattı. Kitap 14 dile çevrildi ve 32 ülkede satıldı.
      <br><br>
      Dukan'ın internet sitesinde yer alan diyeti uygulayanlardan gelen yorumlar arasında "Bunu diyet gibi görmüyorum.", "Kendimi daha genç hissediyorum" gibi açıklamalar var.
      <br><br>
      Fakat milyonlar tarafından takip edilen bu diyetin, son günlerde kalp rahatsızlıklarına ve göğüs kanserine neden olduğu iddiaları var. Geçtiğimiz seneden beri eleştirilen Dukan'ın, mesleğinin elinden alması bile gündemde!
    </h4>
  </div>
</div>