<div class="row">
    <div class="col-md-12">
        <h4>
            <h3>Dukan Diyetine Uygun Karnabahar Kısırı Tarifi İçin Malzemeler</h3>
            <br>
            1 adet küçük boy karnabahar <br>
            1 orta boy soğan <br>
            1 orta boy salatalık <br>
            2 adet domates <br>
            Bir avuç maydanoz <br>
            3-4 adet kornişon salatalık turşu <br>
            2 dal yeşil soğan <br>
            1 tatlı kaşığı tuzsuz salça <br>
            1 tatlı kaşığı zeytinyağı <br>
            Tuz, karabiber, pul biber (istediğiniz baharatı ekleyebilirsiniz)
            <br><br>
            <h3>Dukan Diyetine Uygun Karnabahar Kısırı Tarifi Yapılışı</h3>
            Karnabahar koparılarak fazla sapları kesilir. <br>
            Robota konulup, robottan bulgur gibi olana kadar geçirilir. <br>
            Tavaya zeytinyağı alınarak doğranan soğanlar bir iki dakika çevrilir. <br>
            Üzerine karnabaharlar eklenir ve beş dakika kadar sotelenir. <br>
            Ardından salça eklenerek iyice karıştırılır. <br>
            Baharatlarda eklenerek tekrar karıştırılıp altı kapatılır ve soğumaya bırakılır. <br>
            Diğer tarafta doğranan salatalık, domates, turşu, yeşil biber ve maydanoz doğranarak üzerine ilave edilir. Tekrar karıştırılarak servis edilir. Afiyet olsun. <br>
        </h4>
    </div>
</div>