<button class="config-switch" (click)="configToggle()">
  <i class="fa fa-tasks" *ngIf="!isConfigToggle"></i>
  <i class="fa fa-chevron-right" *ngIf="isConfigToggle"></i>
</button>
<div class="right-config-wrap" [ngClass]="{'right-config-wrap-on':isConfigToggle}">
  <div class="config-header">
    <h3 class="config-title">
      <i class="fa fa-cogs"></i>
      <span>Ayarlar</span>
    </h3>
    <p class="desc" *ngIf="isLoggedIn()">Profilinizi buradan görüntüleyebilirsiniz.</p>
    <p class="desc" *ngIf="!isLoggedIn()">
      Profilinizi görebimek için öncelikle giriş yapmalısınız. <br>
      <button class="btn btn-default" style="display: block; margin: 0 auto;" [routerLink]="['/login']">Giriş Yap</button>
    </p>
  </div>
  <ul class="config-content" *ngIf="isLoggedIn()">
    <!--<li class="config-list">-->
      <!--<span>Config1</span>-->
      <!--<switch switchName="config1" switchId="config1" multiple [checked]="true"></switch>-->
    <!--</li>-->
    <!--<li class="config-list">-->
      <!--<span>Config2</span>-->
      <!--<switch switchName="config2" switchId="config2" multiple></switch>-->
    <!--</li>-->
    <!--<li class="config-list">-->
      <!--<span>Config3</span>-->
      <!--<switch switchName="config3" switchId="config3" multiple></switch>-->
    <!--</li>-->
    <li class="config-list">
      <span>Kullanıcı Adı</span>
      {{user?.username}}
    </li>
    <li class="config-list">
      <span>İsim</span>
      {{user?.name}}
    </li>
    <li class="config-list">
      <span>Soyisim</span>
      {{user?.lastName}}
    </li>
    <li class="config-list">
      <span>Cinsiyet</span>
      {{user?.gender}}
    </li>
    <li class="config-list">
      <span>Doğum Tarihi</span>
      {{user?.birthData | date :  "dd.MM.y" }}
    </li>
    <li class="config-list">
      <span>Boy</span>
      {{user?.height}}
    </li>
    <li class="config-list">
      <span>Diet Başlangıç Tarihi</span>
      {{user?.startingDate | date :  "dd.MM.y" }}
    </li>
    <li class="config-list">
      <input type="button" class="btn btn-default"
             style="display: block; margin: 0 auto;" value="Oturumu Kapat"
             (click)="onLoggedout()">
    </li>
  </ul>
</div>
