@import '../../theme/conf';
.profile-wrap {
    padding: 0;
}

.profile-head {
    height: 300px;
    overflow: hidden;
    .profile-head-bg {
        width: 100%;
        height: auto;
        filter: blur(20px);
        -moz-filter: blur(20px);
        -webkit-filter: blur(20px);
    }
}

.info-wrap {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    .avatar-wrap {
        margin: 0 auto;
        border: 2px solid $white;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .user-name,
    .user-post {
        display: block;
        color: $white;
    }
    .user-name {
        font-size: 1.6em;
        font-weight: normal;
    }
    .map-location {
        color: $white;
        i {
            font-size: 1.3em;
            color: $primary;
        }
    }
}

.profile-foot {
    padding:5px 10px 0 10px;
    text-align: center;
    h4 {
        text-transform: uppercase;
        line-height: 30px;
    }
}

.skills-tag {
    display: inline-block;
    padding: .2em .4em;
    margin: 2px;
    border: 1px solid $border-color;
    border-radius: 3px;
    background: transparent;
    text-decoration: none;
    color: rgba($fonts-color, .7);
    @include transition(all .4s);
    &:hover {
        border: 1px solid $primary;
        background: $primary;
        color: $white;
    }
}

.contact-way-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.contact-way-list {
    list-style: none;
    a.info-icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        font-size: 22px;
        color: rgba($fonts-color, .5);
        @include transition(all .4s);
        &:hover {
            background: $primary;
            color: $white;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

@import "../../theme/conf";
.tip-card {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .tip-msg {
        flex: 1;
        h3 {
            line-height: 0;
            margin-bottom: 20px;
        }
        span {
            color: rgba($fonts-color, .6);
            font-size: $default-text;
        }
    }
    .tip-ico {
        margin: 0 10px;
        border-radius: 3px;
        color: $white;
        @include center(60px, 60px);
        font-size: 30px;
        border: none;
        outline: none;
        &:active {
            @include box-shadow( 0 2px 10px 0 rgba($black, .4) inset);
        }
    }
    .tip-ico-primary {
        @extend .bg-primary;
        @include box-shadow( 0 2px 10px 0 rgba($primary, .5));
    }
    .tip-ico-success {
        @extend .bg-success;
        @include box-shadow( 0 2px 10px 0 rgba($success, .5));
    }
    .tip-ico-danger {
        @extend .bg-danger;
        @include box-shadow( 0 2px 10px 0 rgba($danger, .5));
    }
    .tip-ico-warning {
        @extend .bg-warning;
        @include box-shadow( 0 2px 10px 0 rgba($warning, .5));
    }
    .tip-ico-info {
        @extend .bg-info;
        @include box-shadow( 0 2px 10px 0 rgba($info, .5));
    }
}
