<div class="row" *ngIf="isLoggedIn()">
    <div class="col-md-3 animated fadeIn">
        <div class="card card-block tip-card">
            <div class="tip-msg">
                <h3>{{user?.nowWeight}}</h3>
                <span>Şu anki ağırlığım</span>
            </div>
            <button class="tip-ico tip-ico-primary">
                <i class="fa fa-window-maximize" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="col-md-3 animated fadeIn">
        <div class="card card-block tip-card">
            <div class="tip-msg">
                <h3>{{user?.targetWeight}}</h3>
                <span>Hedef ağırlığım</span>
            </div>
            <button class="tip-ico tip-ico-info">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="col-md-3 animated fadeIn">
        <div class="card card-block tip-card">
            <div class="tip-msg">
                <h3>{{user?.averageWeight}}</h3>
                <span>Ortalama ağırlığım</span>
            </div>
            <button class="tip-ico tip-ico-success">
                <i class="fa fa-balance-scale" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="col-md-3 animated fadeIn">
        <div class="card card-block tip-card">
            <div class="tip-msg">
                <h3>{{user?.lowestWeight}}</h3>
                <span>En düşük ağırlığım</span>
            </div>
            <button class="tip-ico tip-ico-danger">
                <i class="fa fa-window-minimize" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="col-md-7">
        <card cardTitle="Günlük Yapılacaklar" isCollapse="true">
            <du-todolist></du-todolist>
        </card>
    </div>
    <div class="col-md-5">
        <card cardTitle='Diyet Evreleri Günlük Dağılımı'>
            <div echarts [options]="PieOption" [loading]="showloading" theme="dark" class="demo-chart"></div>
        </card>
    </div>
    <div class="col-md-12">
        <card cardTitle='Genel Diyet Durumu'>
            <div echarts [options]="LineOption" [loading]="showloading" theme="dark" class="demo-chart"></div>
        </card>
    </div>
</div>


<div class="card" *ngIf="!isLoggedIn()">
  <div class="profile-wrap animated fadeIn">
    <div class="info-wrap">
      <div class="avatar-wrap">
        <img src="{{avatarImgSrc}}" alt="avatar">
      </div>
      <h4>Welcome To Our Site</h4>
      <h1>It's nice to meet you</h1>
        <button class="btn btn-primary" (click)="myModal.show()">Diyete Başla</button>
        <button class="btn btn-default" [routerLink]="['/login']">Giriş Yap</button>
    </div>
    <div class="profile-head">
      <img src="{{avatarImgSrc2}}" alt="profile-head-bg" class="profile-head-bg">
    </div>
    <div class="profile-foot">

    </div>
  </div>
</div>

<article *ngIf="!isLoggedIn()">
  <h4>Pierre Dukan kimdir?</h4>
  <h4 class="text-muted">
    40 yılı aşkın süredir beslenme uzmanı olan Pierre Dukan, beslenme davranışları ve kötü beslenmenin düzeltilmesi konularında uzmanlaştı. Pierre Dukan, hayatını obeziteye karşı savaşmaya adadı. Fransa'da ve dünya çapında en çok okunan yazarlardan biri oldu. 25 dile çevrilmiş ve 11 milyondan fazla satmış tam 19 kitabın yazarıdır. Bugün, 40 yılı aşkın deneyimi ve 40.000 tedavi edilmiş hastasıyla Pierre Dukan, hayatını görevine, obeziteye karşı mücadeleye, metodunu geliştirmeye ve yaymaya adadı.
    <br><br>
    Pierre Dukan kendini şöyle anlatıyor:
    <br><br>
    Kullandığım metodu 70'li yıllarda yarattım. Beslenme alanındaki uzmanlığımdan yola çıkarak öğrendiğim kalori sisteminin, istediğim sonuca ulaşmamda faydalı olmadığını fark ettim. Tüm çabalarıma rağmen, hastalarımın birçoğu çok yavaş kilo vermekte, umutlarını kaybedip vazgeçmekteydi.
    <br>
    Onlara sorduğum sorular sayesinde, kilo almaları kimi için karbonhidartlar, yani şekerli besinler, kimi için de nişastalı besinler, tahıllar ve unlu besinler olduğunu gördüm. Yağların tehlikesi daha azdı. Sebzeler ve proteinlerde ise tehlike yoktu. Bunların ışığında, her durumda hastaların ihtiyaçlarına cevap vermemi ve iyi sonuçlar almalarını sağlayacak bir yöntem üzerinde, tıpkı bir sanatçı gibi çalıştım. Zamanla bu metodun geliştiğini, önce kulaktan kulağa sonrada internette çok sayıda insana ulaştığını gördüm. Bu sebeple de metodumu, danışma seanslarımda kullandığım sözleri, tonu ve empatiyi aynen kullanarak açıklayan bir kitap yazdım. Bu kitap ve metod, hiç ummadığım şekilde büyük bir başarı kazandı ve böylece hayatımın akışı değişti.
    <br>
    Klasik Dukan metodu: ''eksiksiz'' bir metod
    <br>
    Başarının ardından eleştiriler geldi. Bazıları rahatını bozduğum insanlar ve kuruluşlardan. Bazıları ise bloglarda, forumlarda ya da e-postalarda okuduğum içten ve gerçek yorumlardı. Genel olarak ''Doktor Bey, çok fazla şey talep ediyorsunuz, metodunuz çok iddialı, yapamıyorum'' sözleri yer alıyordu. Bu konunun üzerinde düşününce, metodumun dar bir çerçeveye hitap ettiğini fark ettim. Çünkü bana danışanların çoğunun bir doktora başvurmak, zorlukları göze almak için yeterince sebebi bulunuyordu.
    <br>
    Bu hastalar genelde son derece kilolu, acı çeken, sağlık problemleri sebebiyle hızlı kilo vermesi gereken ve özellikle uzun vadede bu diyetin sertliklerini kabul edebilecek kişilerdi. Metodumun etki etmediği bir diğer kitle olduğunu fark ettim. Bu sebeple ikinci seçeneği oluşturdum. İkinci bir çözüm, yumuşak bir metod olan Aşamalı Beslenme. Artık metodum, iki çok farklı kitleye hitap eden iki farklı zayıflama tekniği bulunuyor:
    <br>
    İlk ve orjinal olan metodum, hızlı kilo vermek isteyen, çok fazla aşırı kilosu olan, sağlık problemleri nedeniyle hızlı kilo vermesi gereken, daha kolay kabullenen, birkaç ay sonra bırakmadan takip etmeyi kabul ederek güçlü ve etkili bir metod arayanlara yönelik.
    <br>
    İkincisi ise kilo vermek için acelesi olmayan, aşırı kilosu olmayan, hızlı kilo vermek için sağlıkla ilgili sebepleri olmayan, kendini tanıyan ve zaman zaman kendine ödül vermeden devam edemeyeceğini bilen, yoğun sosyal hayatı olanlara yönelik.
    <br>
    Bu ikinci seçenek, haftalık sistemi baz aldığı için Aşamalı Beslenme diye adlandırdım. Proteinle dolu bir pazartesiyle başlayan, hergün yeni bir besin grubuyla zenginleşen, sona doğru festivale dönüşen, cumartesi nişastalar, pazar da kutlama öğünüyle sona eren 7 basamaklı bir merdiven.
    <br>
    Daha yavaş, esnek, hergün yeni bir ödül getirdiği için de oldukça eğlenceli. Besinlerin, sunuluşlarına göre önem seviyelerini göz önüne sermesi açısından da son derece öğretici. Aşamalı Beslenme kimler için uygun?
    <br>
    İlk metodu kullanarak zayıflamış, sonrasında biraz kilo almış ve ilk seferki sert yolu izlemeden bu kiloları vermek isteyenler için ideal bir metod.
    <br>

  </h4>
</article>

<app-modal-basic #myModal [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h4 class="modal-title">Diyete Başla</h4>
        <button type="button" class="close basic-close" (click)="myModal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body" style="overflow-y:scroll;overflow-x: hidden; max-height: 500px;">
        <div class="form-group">
            <label class="control-label">İsim</label>
            <input type="text" class="form-control" placeholder="İsim" [(ngModel)]="name">
            <br>
            <label class="control-label">Soyisim</label>
            <input type="text" class="form-control" placeholder="Soyisim" [(ngModel)]="lastName">
            <br>
            <label class="control-label">E-mail</label>
            <input type="text" class="form-control" placeholder="E-mail" [(ngModel)]="email">
            <br>
            <label class="control-label">Cinsiyet</label>
            <select name="select" class="form-control" (change)="changedGender($event)">
                <option value="Bay">Bay</option>
                <option value="Bayan">Bayan</option>
            </select>
            <br>
            <label class="control-label">Doğum Tarihi</label>
            <input type="text" class="form-control" placeholder="Doğum Tarihi" [(ngModel)]="birthData">
            <br>
            <label class="control-label">Boyunuz</label>
            <input type="text" class="form-control" placeholder="Boy" [(ngModel)]="height">
            <br>
            <label class="control-label">Şu anki kilonuz</label>
            <input type="text" class="form-control" placeholder="Kilo" [(ngModel)]="nowWeight">
            <br>
            <label class="control-label">Kaç kilo olmayı amaçlıyorsunuz</label>
            <input type="text" class="form-control" placeholder="Hedef kilo" [(ngModel)]="targetWeight">
            <br>
            <label class="control-label">Ulaştığınız en yüksek kilo</label>
            <input type="text" class="form-control" placeholder="Ulaşılan en yüksek kilo" [(ngModel)]="highestWeight">
            <br>
            <label class="control-label">İndiğiniz en düşük kilo</label>
            <input type="text" class="form-control" placeholder="İndiğiniz en düşük kilo" [(ngModel)]="lowestWeight">
            <br>
            <label class="control-label">Ortalama kilonuz</label>
            <input type="text" class="form-control" placeholder="Ortalama kilonuz" [(ngModel)]="averageWeight">
            <br>
            <label class="control-label">Ailenizde şişmanlama eğilimi var mı?</label>
            <select name="select" class="form-control" (change)="changedFamilyFat($event)">
                <option value="Evet">Evet</option>
                <option value="Hayır">Hayır</option>
            </select>
            <br>
            <label class="control-label">Daha önce kaç diyet uyguladınız?</label>
            <select name="select" class="form-control" (change)="changedHowManyDietBefore($event)">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="Daha fazla">Daha fazla</option>
            </select>
            <br>
            <span>Bilgileriniz işlenerek size uygun en sağlıklı diyet programı oluşturulacaktır.</span>
            <hr>
            <label class="control-label">Kullanıcı Ad</label>
            <input type="text" class="form-control" placeholder="Kullanıcı Adı" [(ngModel)]="username">
            <br>
            <label class="control-label">Parola</label>
            <input type="password" class="form-control" placeholder="Parola" [(ngModel)]="password">
            <br>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default waves-effect" (click)="myModal.hide()">Kapat</button>
        <button type="button" class="btn btn-primary waves-effect waves-light " (click)="createDiet()">Başla</button>
    </div>
</app-modal-basic>
